@import './estilos/colores/colores';
@import './estilos/imagenes/fondoImg';
@import './estilos/card-body/separador';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Rubik', sans-serif; 
}

.w-75 {
	width: 90% !important;
}

@media (min-width: 992px) {
	.card {
		border: none;
	}

	.card-body {
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
		border-radius: 6px;
		height: 30rem;

		&.col-lg-6 {
			max-width: 405px !important;
		}
	}
} 